main {
  min-height: calc(100vh - 80px);
  background-color: var(--bg-alt-color);
  transition: background-color 0.3s ease;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.3s;
}