<section class="page-container">
  <h2>Mis Proyectos</h2>
  <div class="grid">
    <div class="card" *ngFor="let project of projects">
      <img [src]='project.image' [alt]='project.title' class="card-image" loading="lazy">
      <div class="card-content">
        <h3>{{project.title}}</h3>
        <p class="description">{{project.description}}</p>
        <div class="features">
          <span *ngFor="let feature of project.features">{{feature}}</span>
        </div>
      </div>
      <div class="card-actions">
        <a [href]="project.link" target="_blank" class="link">Ver código</a>
        <a [routerLink]="project.demo" class="link demo-link">Ver demo</a>
      </div>
    </div>
  </div>
</section>